.navbar {
  overflow: hidden;
  background-color: #303030;
  display: flex;
  flex-wrap: nowrap;
  height: 57px;
}
.navbar a {
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.navbar ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar ul li {
  display: flex;
}
.navbar a:hover {
  background-color: #ddd;
  color: #303030;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.98;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.4s;
}
.side-nav a {
  display: block;
  padding: 10px 10px 10px 1em;
  text-decoration: none;
  color: #ddd;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: 0.4s;
}
.side-nav .side-items a:hover {
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 0;
}
.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 18px;
  font-size: 1.8em;
}
.side-nav .btn-close:hover {
  color: #fff;
  font-size: 2.2em;
  cursor: pointer;
}

article > h2, article > p, article > div {
  margin-left: 10px;
  margin-right: 10px;
}

.grideexamples {
  color: #090934;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}
.grideexamples h2 {
  color: #888;
  margin-bottom: 0;
  margin-top: 10;
}
.grideexamples div {
  display: grid;
  border: 1px dashed #888;
  width: 100%;
  height: 100%;
  position: relative;
  grid-gap: 5px;
  justify-content: center;
  text-align: center;
}
.grideexamples div > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grideexamples div header {
  color: #fcba12;
  background-color: #090934;
}
.grideexamples div nav {
  background-color: #f7edd4;
}
.grideexamples div .info {
  background-color: lightblue;
}
.grideexamples div .services {
  background-color: #fcba12;
}
.grideexamples div footer {
  background-color: #1414b8;
  color: #fff;
}
.grideexamples div:nth-of-type(1) {
  grid-template-areas: "head head" "nav nav" "info services" "footer footer";
  grid-template-rows: 2fr 1fr 4fr 1fr;
  grid-template-columns: 1fr 3fr;
}
.grideexamples div:nth-of-type(1) header {
  grid-area: head;
}
.grideexamples div:nth-of-type(1) nav {
  grid-area: nav;
}
.grideexamples div:nth-of-type(1) .info {
  grid-area: info;
}
.grideexamples div:nth-of-type(1) .services {
  grid-area: services;
}
.grideexamples div:nth-of-type(1) footer {
  grid-area: footer;
}
.grideexamples div:nth-of-type(2) {
  grid-template: repeat(9, 1fr)/repeat(6, 1fr);
}
.grideexamples div:nth-of-type(2) header {
  grid-area: 1/1/3/7;
}
.grideexamples div:nth-of-type(2) nav {
  grid-area: 3/1/4/7;
}
.grideexamples div:nth-of-type(2) .info {
  grid-area: 4/1/8/5;
}
.grideexamples div:nth-of-type(2) .services {
  grid-area: 4/5/8/7;
}
.grideexamples div:nth-of-type(2) .overlap {
  grid-area: 5/4/7/6;
  background-color: #fa3333;
  z-index: 10;
}
.grideexamples div:nth-of-type(2) footer {
  grid-area: 8/1/10/7;
  background-image: url("../other/images/camelbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown div {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /*place the dropdown in front of other elements*/
  overflow: auto;
  /*to enable scroll on small screens)*/
}
.dropdown div a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown div a:hover {
  background-color: #ddd;
}
.dropdown:hover div {
  display: block;
}
.dropdown:hover button {
  background-color: #3e8e41;
}

.contactbtn {
  float: right;
  background-color: #fcba12;
  position: relative;
  padding: 10px;
  color: #090934;
  border: 1px solid #090934;
  cursor: pointer;
}
.contactbtn:active {
  top: 2px;
}

.gridjsblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.gridjsblock > div {
  display: block;
  background-color: #fff;
  border: 1px solid #090934;
  border-radius: 3px;
  padding: 10px 15px 25px 15px;
  margin: 15px;
  align-items: center;
}
.gridjsblock > div h4 {
  border-bottom: 1px solid #090934;
  color: #090934;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
  padding: 0px 5px;
}
.gridjsblock > div p {
  margin: 15px 1px 0px 1px;
}
.gridjsblock > div > div:last-child {
  text-align: center;
  border: 1px dashed #888;
  border-radius: 4px;
  padding: 20px 25px;
  margin-bottom: 0;
  font: bold 18px Arial, sans-serif;
  color: #888;
  background-color: #fcba12;
}
.gridjsblock > div #inactive {
  display: none;
}
.gridjsblock .buttonjs button {
  position: relative;
  cursor: pointer;
  min-width: 70px;
  background-color: #0909ff;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  font: 18px Arial, sans-serif;
}
.gridjsblock .buttonjs button:nth-child(2) {
  background-color: #ff0000;
}
.gridjsblock .buttonjs button:nth-child(3) {
  background-color: #888;
}
.gridjsblock .buttonjs button:hover {
  opacity: 0.75;
}
.gridjsblock .buttonjs button:active {
  top: 2px;
}
.gridjsblock .propertybutton button:nth-child(1) {
  color: #090934;
  background-color: #fff;
  font-weight: bold;
  border: 1px solid #090934;
}
.gridjsblock .propertybutton button:nth-child(2) {
  background-color: #090934;
  border: 1px solid #090934;
}

.googlemap {
  display: inline-block;
  width: 100%;
  height: 400px;
  margin: 10px 0px;
}

/* Blog*/
#blog {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#blog .post {
  width: 80%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  line-height: 1.8;
  color: #444;
}
#blog .post h2 {
  font-size: 1.875rem;
  margin: 0;
}
#blog .post h3 {
  font-size: 1.125rem;
  color: #888;
  margin: 0;
}
#blog .post .opening-line {
  margin-top: 2.1875rem;
  color: black;
  font-weight: bold;
}
#blog .post .image-container {
  width: 100%;
}
#blog .images {
  margin-bottom: 5%;
}
#blog .image-container {
  display: inline-block;
  width: 50%;
  overflow: hidden;
}
#blog .image-container img {
  max-width: 100%;
  height: auto;
}

/*Back-to-top Button*/
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 31px;
  height: 32px;
  cursor: pointer;
  transition: opacity 2.2s ease-out;
  background: url("../other/images/Back-to-home.png");
}
#back-to-top:hover {
  background-position: 31px 0;
}

@media screen and (min-width: 700px) {
  .grideexamples {
    display: grid;
    grid-template: 10% 90%/repeat(2, 1fr);
    margin: 10px;
    max-width: 100%;
    grid-gap: 20px;
  }
  .grideexamples h2 {
    grid-row: 1;
  }
}
@media screen and (min-width: 460px) {
  .navbar ul {
    display: flex;
  }
}

/*# sourceMappingURL=stylesass.css.map */
