$primary-light-color: #fcba12;
$primary-dark-color: #090934;
$custom-dark: #303030;
$custom-grey: #888;
$nav-background-color: #f7edd4;
$footer-background-color: #1414b8;
$info-background-color: lightblue;
$border: 1px solid #090934;
$border-dashed: 1px dashed #888; 
$first-button-color: #0909ff;
$second-button-color: #ff0000;



// NavBar
.navbar {
  overflow: hidden;
  background-color: $custom-dark;
  display: flex;
  flex-wrap: nowrap;
  height: 57px;

  a {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      display: flex;
    }
  }

  a:hover {
    background-color: #ddd;
    color: $custom-dark;
  }
}



.side-nav {
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.98;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.4s;

  a {
    display:block;
    padding:10px 10px 10px 1em;
    text-decoration:none;
    color:#ddd;
    font-size: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;  
    transition:0.4s;
  }

  .side-items a:hover {
    color:#fff;
    font-size: 1.2em;
    letter-spacing: 0;
  }

  .btn-close {
    position:absolute;
    top:0;
    right:18px;
    font-size:1.8em;
  }

  .btn-close:hover {
    color:#fff;
    font-size: 2.2em;
    cursor: pointer;
  }
}



article > h2, article > p, article > div {
  margin-left: 10px;
  margin-right: 10px;
}



// css grid examples
.grideexamples {
  color: $primary-dark-color;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;

  h2 { 
    color: $custom-grey;
    margin-bottom: 0;
    margin-top: 10;  
  }

  div {
    display: grid;
    border: $border-dashed;
    width: 100%;
    height:  100%;  
    position: relative;
    grid-gap: 5px;
    justify-content: center;
    text-align: center;
    >* {
      display: flex;
      align-items: center;
      justify-content: center;
    }   
    header {
      color: $primary-light-color;
      background-color: $primary-dark-color;
    }
    nav {
      background-color: $nav-background-color;
    }
    .info {
      background-color: $info-background-color;
    } 
    .services {
      background-color: $primary-light-color;
    }
    footer {
      background-color: $footer-background-color; 
      color: #fff;
    }
  }

  div:nth-of-type(1) {
    grid-template-areas: "head head"
                         "nav nav" 
                         "info services"
                         "footer footer";
    grid-template-rows: 2fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 3fr;
    header {
      grid-area: head;
    }
    nav {
      grid-area: nav;
    }
    .info {
      grid-area: info;
    } 
    .services {
      grid-area: services;
    }
    footer {
      grid-area: footer;
    }
    
  }

  div:nth-of-type(2) {
    grid-template: repeat(9, 1fr) / repeat(6, 1fr);
    header {
      grid-area: 1 / 1 / 3 / 7;
    } 
    nav {
      grid-area: 3 / 1 / 4 / 7;
    } 
    .info {
      grid-area: 4 / 1 / 8 / 5;
    } 
    .services {
      grid-area: 4 / 5 / 8 / 7;
    }
    .overlap {
      grid-area: 5 / 4 / 7 / 6;
      background-color: #fa3333;
      z-index: 10;
    }
    footer {
      grid-area: 8 / 1 / 10 / 7;
      background-image: url("../images/camelbackground.png");
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;
    }
  }  
}



// Dropdown Button
.dropdown {
  position: relative;
  display: inline-block;

  div {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /*place the dropdown in front of other elements*/
    overflow:auto; /*to enable scroll on small screens)*/
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    a:hover {
      background-color: #ddd
    }
  }

  &:hover div {
      display: block;
  }
  &:hover button {
      background-color: #3e8e41;
  }

}

.contactbtn {
  float: right;
  background-color: $primary-light-color;
  position: relative;
  padding: 10px;
  color: $primary-dark-color;
  border: 1px solid $primary-dark-color;
  cursor: pointer;

  &:active {
    top: 2px;
  }
}



// JS buttons
.gridjsblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: flex-start;  

  > div {
    display: block;
    background-color: #fff;
    border: $border;
    border-radius: 3px;
    padding: 10px 15px 25px 15px;
    margin: 15px;
    align-items: center;

    h4 {
      border-bottom: $border;
      color: $primary-dark-color;
      text-transform: uppercase;  
      text-align: center;
      margin: 15px 0;
      padding: 0px 5px;
    }
    p {
      margin: 15px 1px 0px 1px;
    }
    > div:last-child {
      text-align: center;
      border: $border-dashed;
      border-radius: 4px;
      padding: 20px 25px;
      margin-bottom: 0;
      font: bold 18px Arial, sans-serif;
      color: $custom-grey;
      background-color: $primary-light-color; 
    }

    #inactive {
      display: none; 
    }
  }
  
  .buttonjs {
    button {
      position: relative;
      cursor: pointer;
      min-width: 70px;
      background-color: $first-button-color;
      color: #fff;
      border: none;
      border-radius: 2px;
      padding: 10px 15px;
      font: 18px Arial, sans-serif;
    }

    button:nth-child(2) {
      background-color: $second-button-color;
    }

    button:nth-child(3) {
      background-color: $custom-grey;
    }

    button:hover {
      opacity: 0.75;
    }

    button:active {
      top: 2px;
    }
  }

  .propertybutton {
    button:nth-child(1) {
      color: $primary-dark-color;
      background-color: #fff;
      font-weight: bold;
      border: $border;
    }

    button:nth-child(2) {
      background-color:$primary-dark-color;
      border: $border;
    }
  }
}



// Google Map section
.googlemap {
  display: inline-block;
  width: 100%;
  height: 400px;
  margin: 10px 0px;
}



/* Blog*/
#blog {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .post {
    width: 80%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    line-height: 1.8;
    color: #444;

    h2 {
      font-size: 1.875rem;
      margin: 0;
    }

    h3 {
      font-size: 1.125rem;
      color: $custom-grey;
      margin: 0;
    }

    .opening-line {
      margin-top: 2.1875rem;
      color: black;
      font-weight: bold;
    }

    .image-container {
      width: 100%;
    }
  }


  .images {
    margin-bottom: 5%;
  }


  .image-container {
    display: inline-block;
    width: 50%;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}


  
/*Back-to-top Button*/
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 31px;
  height: 32px;
  cursor: pointer;
  transition: opacity 2.2s ease-out;
  background: url("../images/Back-to-home.png");

  &:hover {
    background-position: 31px 0;
  }
}



@media screen and (min-width: 700px) {
  .grideexamples {
    display: grid;
    grid-template: 10% 90% / repeat(2, 1fr);
    margin: 10px;
    max-width: 100%;
    grid-gap: 20px;
  
    h2 {
      grid-row: 1;
    }
  }
}


@media screen and (min-width: 460px) {
  .navbar ul {
    display: flex;
  }
} 